<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.JioMart.TestComponents.TestListen"></listener>
	</listeners>
	<test name="initiatetest" thread-count="1">
    <classes>
      <class name="com.JioMart.Tests.ValidTest"/>
    </classes>
    </test>
    
    <test name="navigateToHomePage" thread-count="1">
    </test>
    
    <test name="navigateToSmartPhonePage" thread-count="1" >
    </test>
  </suite> <!-- Suite -->
